In [36]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('youtube_shorts_performance_dataset.csv')
df

,video_id,title,duration_sec,hashtags_count,views,likes,comments,shares,upload_hour,category
0,vid_1000,Short Video #0,43,9,198775,21933,3228,400,8,Tech
1,vid_1001,Short Video #1,56,2,290336,20063,3719,1942,16,Comedy
2,vid_1002,Short Video #2,33,6,264206,37032,3228,1817,7,Food
3,vid_1003,Short Video #3,19,9,85076,27269,2371,980,1,Lifestyle
4,vid_1004,Short Video #4,47,8,90780,8041,2891,1109,23,Tech
...,...,...,...,...,...,...,...,...,...,...
295,vid_1295,Short Video #295,15,3,248940,23810,488,1247,12,Tech
296,vid_1296,Short Video #296,32,4,366340,29586,46,1548,8,Travel
297,vid_1297,Short Video #297,29,3,434027,6471,3359,1069,21,Comedy
298,vid_1298,Short Video #298,54,4,318623,6459,4873,1690,14,Food
299,vid_1299,Short Video #299,27,6,217464,40731,4806,1136,13,Tech

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_id        300 non-null    object
 1   title           300 non-null    object
 2   duration_sec    300 non-null    int64
 3   hashtags_count  300 non-null    int64
 4   views           300 non-null    int64
 5   likes           300 non-null    int64
 6   comments        300 non-null    int64
 7   shares          300 non-null    int64
 8   upload_hour     300 non-null    int64
 9   category        300 non-null    object
dtypes: int64(7), object(3)
memory usage: 23.6+ KB

In [39]:
df.describe()

,duration_sec,hashtags_count,views,likes,comments,shares,upload_hour
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,31.730000,4.343333,245058.166667,23063.126667,2638.296667,999.576667,11.543333
std,16.042912,2.956562,141338.982093,14597.458220,1416.827287,564.410105,6.814414
min,5.000000,0.000000,1404.000000,109.000000,40.000000,2.000000,0.000000
25%,18.000000,2.000000,129620.500000,10342.000000,1445.750000,516.250000,6.000000
50%,32.000000,4.000000,255962.000000,21779.500000,2863.500000,988.000000,12.000000
75%,45.000000,7.000000,356805.000000,36706.500000,3761.000000,1463.750000,17.000000
max,59.000000,9.000000,499401.000000,49923.000000,4971.000000,1998.000000,23.000000

In [41]:
df.groupby('category')['video_id'].count()

category
Comedy       53
Education    53
Food         57
Lifestyle    42
Tech         55
Travel       40
Name: video_id, dtype: int64

In [42]:
df.groupby('category')['views'].sum()

category
Comedy       14410062
Education    11899202
Food         13382286
Lifestyle    11654158
Tech         12296300
Travel        9875442
Name: views, dtype: int64

In [46]:
df.groupby('category')['views'].mean()

category
Comedy       271887.962264
Education    224513.245283
Food         234776.947368
Lifestyle    277479.952381
Tech         223569.090909
Travel       246886.050000
Name: views, dtype: float64

In [44]:
df.groupby('category')['comments'].mean()

category
Comedy       2904.283019
Education    2694.452830
Food         2536.000000
Lifestyle    2477.309524
Tech         2609.527273
Travel       2565.825000
Name: comments, dtype: float64

In [47]:
df.groupby('category')['shares'].mean()

category
Comedy       1134.207547
Education    1013.547170
Food          900.947368
Lifestyle     966.523810
Tech          992.836364
Travel        987.200000
Name: shares, dtype: float64

In [ ]:
df.groupby('category')['']