In [1]:
import pandas as pd

In [2]:
# Read data from file
transction = pd.read_csv('transaction_log.csv')
transction

    account_id transaction_date  amount transaction_type
0         1004       2025-01-01    6335           credit
1         1005       2025-01-02    5586           credit
2         1003       2025-01-03    7199           credit
3         1005       2025-01-04    9770           credit
4         1005       2025-01-05     875           credit
5         1002       2025-01-06   -8326            debit
6         1003       2025-01-07    3252           credit
7         1003       2025-01-08   -1685            debit
8         1003       2025-01-09    4043           credit
9         1005       2025-01-10   -7655            debit
10        1004       2025-01-11    3173           credit
11        1003       2025-01-12    1121           credit
12        1005       2025-01-13   -3943            debit
13        1002       2025-01-14   -8089            debit
14        1004       2025-01-15   -9792            debit
15        1002       2025-01-16    6973           credit
16        1004       2025-01-17   -5775            debit
17        1005       2025-01-18     261           credit
18        1001       2025-01-19    4397           credit
19        1004       2025-01-20   -1095            debit
20        1002       2025-01-21   -7729            debit
21        1005       2025-01-22    9567           credit
22        1004       2025-01-23    1116           credit
23        1001       2025-01-24   -7969            debit
24        1001       2025-01-25   -6539            debit
25        1003       2025-01-26   -7992            debit
26        1003       2025-01-27    6963           credit
27        1002       2025-01-28    8016           credit
28        1004       2025-01-29    8629           credit
29        1004       2025-01-30     978           credit
30        1003       2025-01-31    9368           credit
31        1004       2025-02-01    4987           credit
32        1004       2025-02-02   -4959            debit
33        1001       2025-02-03    6431           credit
34        1003       2025-02-04    8671           credit
35        1005       2025-02-05    8784           credit
36        1003       2025-02-06   -7308            debit
37        1005       2025-02-07    5376           credit
38        1001       2025-02-08    2162           credit
39        1002       2025-02-09    -164            debit
40        1004       2025-02-10    8106           credit
41        1001       2025-02-11    2668           credit
42        1004       2025-02-12    5563           credit
43        1002       2025-02-13    2127           credit
44        1002       2025-02-14    2795           credit
45        1001       2025-02-15   -9787            debit
46        1002       2025-02-16   -5358            debit
47        1005       2025-02-17   -5718            debit
48        1002       2025-02-18    6836           credit
49        1004       2025-02-19     491           credit

In [3]:
# Average daily transction
transction.groupby('account_id')['amount'].mean()

account_id
1001   -1233.857143
1002    -291.900000
1003    2363.200000
1004    1365.923077
1005    2290.300000
Name: amount, dtype: float64

In [4]:
# Average number of transactions per account
avg_txn_count = transction.groupby('account_id')['amount'].count().mean()

# Accounts with higher than average transaction volume
transction.groupby('account_id')['amount'].count().loc[lambda x: x > avg_txn_count]

account_id
1004    13
Name: amount, dtype: int64

In [5]:
# Detect potential fraud using statistical thresholds
txn_mean = transction['amount'].mean()
txn_std = transction['amount'].std()
threshhold_amount = txn_mean + 3 * txn_std
transction[transction['amount'] > threshhold_amount]

Empty DataFrame
Columns: [account_id, transaction_date, amount, transaction_type]
Index: []